<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DacDB1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-V4QRL39L\SQLEXPRESS;initial catalog=DacDB1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<system.serviceModel>
		<services>
			<service name="ServiceLib.MyService" behaviorConfiguration="DacBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9000/Dac"/>
						<add baseAddress="net.tcp://localhost:9001/Dac"/>
					</baseAddresses>
				</host>
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<endpoint address="prods"
						 binding="netTcpBinding"
						 contract="ContractLib.IServ" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DacBehavior">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>