<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServ">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9001/Dac/prods" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServ" contract="ServRef.IServ"
                name="NetTcpBinding_IServ">
                <identity>
                    <userPrincipalName value="LAPTOP-V4QRL39L\BK Vishal" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>