<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cnnStrKey" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=DACDB1;Integrated Security=True"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="DacServiceLibrary.CDacService" behaviorConfiguration="DacBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/Dac"/>
            <add baseAddress="net.tcp://localhost:9001/Dac"/>
          </baseAddresses>
        </host>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <endpoint address="prods"
                 binding="netTcpBinding"
                 contract="DacServiceLibrary.IDac" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DacBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>